
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

div {
    background-color: bisque;
    padding: 90px 70px;
    border-radius: 10px;
    text-align: center;
}



button {
  padding: 40px 60px;
  font-size: 60px;
  border: none;
  border-radius: 60px;
  background: #81f085;
  color: white;
  cursor: pointer;
  box-shadow: 0 20px 0  rgb(25, 138, 44);
  transition: 0.1s;
  
}

button:hover {
    background-color: rgb(140, 223, 140);
    box-shadow: 0 20px 0  rgb(25, 138, 44);
}

button:active {
    transform: translateY(20px);
    box-shadow :0 0 0  rgb(25, 138, 44);
}